<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  <directoryBrowse enabled="true" showFlags="Date,Time,Extension,Size" />
      <staticContent>
      <mimeMap fileExtension=".css" mimeType="text/css; charset=UTF-8" />
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" /> 
      <mimeMap fileExtension=".js" mimeType="application/x-javascript" />
    </staticContent>
      <rewrite>
        <rules>
            <rule name="Imported Rule 1-1" stopProcessing="true">
                <match url="^assets" />
                <action type="None" />
            </rule>
            <rule name="Imported Rule 2" stopProcessing="true">
                <match url="^extensions/([^/]+)" />
                <action type="None" />
            </rule>
            <rule name="Imported Rule 3" stopProcessing="true">
                <match url="^extensions/([^/]+)/assets" />
                <action type="None" />
            </rule>
            <rule name="Imported Rule 4" stopProcessing="true">
                <match url="^extensions/([^/]+)/main.js" />
                <action type="None" />
            </rule>
            <rule name="Imported Rule 5" stopProcessing="true">
                <match url="^listviews/([^/]+)" />
                <action type="None" />
            </rule>
            <rule name="Imported Rule 6" stopProcessing="true">
                <match url="^listviews/([^/]+)/assets" />
                <action type="None" />
            </rule>
            <rule name="Imported Rule 7" stopProcessing="true">
                <match url="^listviews/([^/]+)/ListView.js" />
                <action type="None" />
            </rule>
            <rule name="Imported Rule 8" stopProcessing="true">
                <match url="^" ignoreCase="false" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{URL}" pattern="media_auth_proxy/([^/]+)/(.+)$" ignoreCase="false" />
                </conditions>
                <action type="Rewrite" url="/media_auth_proxy/index.php" />
            </rule>        
            <rule name="rule 2V" stopProcessing="true">
              <match url="^api/extensions/([^/]+)"  />
              <action type="Rewrite" url="api/api.php?run_extension={R:1}&amp;%{QUERY_STRING}"  />
            </rule>
            <rule name="rule 3V" stopProcessing="true">
              <match url="^api"  />
              <action type="Rewrite" url="api/api.php?run_api_router=1&amp;%{QUERY_STRING}"  />
            </rule>            
            
                <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
                <rule name="StaticContent">
                    <action type="Rewrite" url="public{REQUEST_URI}" />
                </rule>
                <!-- All other URLs are mapped to the node.js site entry point -->
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
                
        </rules>
    </rewrite>
  </system.webServer>
</configuration>
